<section>
  <div class="page-header">
    <h1>Questiontypes</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="questiontype in vm.questiontypes"
       data-ui-sref="questiontypes.view({ questiontypeId: questiontype._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="questiontype.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="questiontype.user" data-ng-bind="questiontype.user.displayName"></span>
        <span data-ng-if="!questiontype.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="questiontype.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.questiontypes.$resolved && !vm.questiontypes.length">
    No Questiontypes yet, why don't you <a data-ui-sref="questiontypes.create">create one</a>?
  </div>
</section>
