<section ng-controller="CoreController">
  <div class="row">
    <div class="col-md-3 nVoting-left-sidebar">      
    <br /><br /><br />
      <h5 class="text-center">Finish 1 of 4 votes</h5>      
    </div>
    <div class="col-md-9 nVoting-right-panel">
	    <h1>Title vote</h1>
	    <p>Description content Description content Description content Description content Description contentDescription content<p>

	    <div class="question-box">
	    	<h4>1. Number of niteco</h4>
	    	<ul class="nVoting-answer">
	    		<li><input type="radio" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="radio" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="radio" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="radio" name="radQuestion1"> <label>Answer 1</label></li>
	    	</ul>
	    </div>

	    <div class="question-box">
	    	<h4>2. Number of niteco</h4>
	    	<ul class="nVoting-answer">
	    		<li><input type="checkbox" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="checkbox" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="checkbox" name="radQuestion1"> <label>Answer 1</label></li>
	    		<li><input type="checkbox" name="radQuestion1"> <label>Answer 1</label></li>
	    	</ul>
	    </div>

	    <div>
	    	<button type="button" class="btn btn-primary">Submit</button>
	    	<a href="/" class="btn btn-default">Cancel</a>
	    </div>
    </div>
  </div>
</section>
