<br />
<section ng-controller="HomeController"  ng-init="find()">
  <div class="row">
    <div class="col-md-3 nVoting-left-sidebar">
      <div class="text-center">
        <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" />
      </div>
      <h3 class="text-center">Le Dinh Thang</h3>
      <h4 class="text-center">BNP CMS Team</h4>
      <h5 class="text-center">Finish 1 of 4 votes</h5>
    </div>
    <div class="col-md-9 nVoting-right-panel">
      <div ng-repeat="votedefinition in votedefinitions">
        <div class="row">
          <div class="col-md-3">
            <div class="nVoting-calendar-box">
              <div class="nVoting-calendar-box-header text-center" ng-bind="votedefinition.created | date:'MMMM'">
              </div>
              <div class="nVoting-calendar-box-date text-center" ng-bind="votedefinition.created | date:'dd'">
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <a href="/detail"><h3 ng-bind="votedefinition.title"></h3></a>
            <div class="row">
              <div class="col-md-4"><span class="glyphicon glyphicon-user"></span> <span ng-bind="votedefinition.user.displayName"></span></div>
              <div class="col-md-8"><span class="glyphicon glyphicon-time"></span> <span ng-bind="votedefinition.created | date:'MMMM dd ,yyyy'"></span></div>
            </div>
            <p ng-bind="votedefinition.description"></p>
          </div>        
          <div class="clearfix"></div>
        </div>
        <br />
      <div>

      <div class="text-center">
        <ul class="pagination">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
