<section>
  <div class="page-header">
    <h1>Votedefinitions</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="votedefinition in vm.votedefinitions"
       data-ui-sref="votedefinitions.view({ votedefinitionId: votedefinition._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="votedefinition.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="votedefinition.user" data-ng-bind="votedefinition.user.displayName"></span>
        <span data-ng-if="!votedefinition.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="votedefinition.title"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.votedefinitions.$resolved && !vm.votedefinitions.length">
    No Votedefinitions yet, why don't you <a data-ui-sref="votedefinitions.create">create one</a>?
  </div>
</section>
